*{
	
}

header{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #FF3131;
	width: 1000px;
	height: 320px;
	justify-content: center;
}

section.Foto{
	display: flex;
	justify-content: flex-start;
}

body{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 auto;
	max-width: 1000px;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 10px 20px;
	border: 1px solid black;
	color: #555;
}

main{
	display: flex;
	background-color: #C1DCDD;
	width: 675px;
}

aside{
	background-color: #050029;
	display: inline-block;
	flex-grow: 3;
	width: 300px;
}

article.Resumen p{
	display: flex;
	Color: #FF3131;
	font-size: 27px;
	justify-content: center;
}

section.InfoContacto{
	Color: white;
	font-size: 23px;
}

section.Principal h3{
	font-size: 30px;
}


article h4{
	Color: #FF3131;
}

section.Titulos{
	display: flex;
	flex-direction: column;
	width: 700px;
}

section.Titulos h1{
	color: #292D2D;
	font-size: 45px;
}

section.Titulos h2{
	color: white;
}

section.Titulos h3{
	color: #5CE1E6;
}